* {
    color-scheme: dark;
    font-family: 'Courier New', monospace;
}


#header {
    text-align: center;
}

a {
    text-decoration:none;
    color : white;

}

hr {
    height: 1px;
    background-color: gray;
    border: none;
}

button {
    border-radius: 4px;
    background-color: rgb(74, 74, 221);
    font-size : 20px;
    font-weight: bold;

}

#main_settings {
    background-color: darkslategrey;
    border-radius: 3px;
}

.text-setting pre {
    text-align: center;
    font-size : 20px;
    font-weight: bold;
}

.text-setting input {
    border-radius: 4px;
    border-color: lightslategray;
    max-width: 25px;
    outline :  none;
    border-style: solid;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.extension-data-holder {
    background-color: rgb(68, 67, 67);
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
}

.extension-name {
    font-size: larger;
    color: orange;
    font-weight: bolder;
}

.extension-description {
    font-size: large;
    color: darkblue;
    font-weight: bold;
}

.extension-type {
    font-size: large;
    color: plum;
}

.extension-developer {
    font-size: large;
    color: pink;
    font-weight: bold;
}